/* Base styles (mobile-first) */
.weather-card {
  width: 90%;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-header .location {
  text-align: center;
}

.weather-header .date {
  text-align: right;
  padding: 0 4px;
}

.weather-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-temp .temp {
  font-size: 4rem; /* Adjust as needed */
  font-weight: 500;
  margin-bottom: 10px;
}

.weather-temp .condition {
  text-align: center;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between items */
}

.weather-details .detail {
  text-align: center;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  .weather-card {
    width: 500px;
  }

  .weather-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .weather-header .location {
    text-align: left;
  }

  .weather-header .date {
    text-align: right;
  }

  .weather-temp {
    flex-direction: row;
    justify-content: center;
  }

  .weather-temp .temp {
    font-size: 6rem; /* Adjust as needed */
    margin-bottom: 0;
  }

  .weather-temp .condition {
    margin-left: 25px;
  }

  .weather-details {
    flex-direction: row;
    justify-content: space-between;
  }
}
